<div class="b-settings-accounts g-ui-user-select-none">
	<div data-bind="visible: allowIdentities">
		<br />
		<div class="form-horizontal" >
			<div class="legend" style="border: none;margin:0;">
				<span class="i18n" data-i18n="SETTINGS_ACCOUNTS/LEGEND_IDENTITIES"></span>
				
			</div>
		</div>
		<div class="identities-list-wrp">
			<table class="table table-hover list-table identities-list" data-bind="i18nUpdate: identities">
				<colgroup>
					<col />
					<col style="width: 150px" />
					<col style="width: 1%" />
				</colgroup>
				<tbody data-bind="sortable: {data: identities, options: scrollableOptions('.identities-list-wrp'), afterMove: accountsAndIdentitiesAfterMove}">
					<tr class="identity-item">
						<td class="e-action">
							&nbsp;&nbsp;
							<span class="identity-name" data-bind="text: formattedName()"></span>
							&nbsp;&nbsp;
							<span class="identity-default" data-bind="visible: 0 === $index()">
								(<small>click to edit</small>)
							</span>
						</td>
						<td>
							<span data-bind="visible: !canBeDeleted()"></span>
							<a class="btn btn-small btn-small-small btn-danger pull-right button-delete button-delete-transitions" data-bind="visible: canBeDeleted, css: {'delete-access': deleteAccess}, click: function(oIdentity) { $root.deleteIdentity(oIdentity); }">
								<span class="i18n" data-i18n="SETTINGS_ACCOUNTS/DELETING_ASK"></span>
							</a>
						</td>
						<td>
							<span class="delete-identity" data-bind="visible: !deleteAccess() && canBeDeleted(), click: function (oIdentity) { $root.identityForDeletion(oIdentity); }">
								<i class="icon-trash"></i>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>